<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Perfiles</name>
    <description>
        Lo que te identifica
    </description>
    <author email="somos@nuevositio.uy" href="http://nuevositio.uy">
        Nuevositio
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/images/icono.png"/>
</widget>
